- var profileName = "Леонид Якубович";

- // base / premium / finalize
- var profileState = base;


header.header.header--violet
    div.header__inner
        nav.header__nav
            div.header__nav-content
                div.header__premium-btn
                    a.btn.btn--yellow(href='/templates/pages/prices/rates.html') Получить премиум
                ul.header__menu
                    li.header__item(data-state="active")
                        a.header__link(href="/templates/pages/train/index.html") Программа развития
                    li.header__item
                        a.header__link(href="/templates/pages/games/index.html") Тренажеры
                    li.header__item
                        a.header__link(href="/templates/pages/challenge/index.html") Соревнования
                    li.header__item
                        a.header__link(href="/templates/pages/courses/courses.html") Курсы
                    li.header__item
                        a.header__link(href="/science") Наука
                div.header__user
                    button.header__user-btn(type="button")
                        img.header__user-photo(src="/build/img/content/users/polepole.png" width="37" height="37" alt="Ваше фото")
                        div.header__user-info
                            span.header__user-name #{profileName}
                            case profileState
                                when base
                                    span.header__user-state.header__user-state--base Базовый доступ
                                when premium
                                    span.header__user-state.header__user-state--premium Премиум 562 дня
                                when finalize
                                    span.header__user-state.header__user-state--finalize Премиум 2 дня
                    ul.header__user-menu
                        li.header__user-item
                            a.header__user-link(href="/templates/pages/user-profile/index.html") Профиль
                        li.header__user-item
                            a.header__user-link(href="/templates/pages/statistic/today.html") Статистика
                        li.header__user-item
                            a.header__user-link(href="/templates/pages/partner/index.html") Кабинет партнера
                        li.header__user-item
                            a.header__user-link(href="/templates/pages/coach/coach_general.html") Кабинет тренера
                        li.header__user-item
                            a.header__user-link(href="/templates/pages/landings/pain.html") Выйти
        button.header__burger.header__burger--cross.btn(type="button") Меню
            span.header__burger-lines
        a.header__logo(href="/templates/pages/train/index.html")
            img.header__logo-img(
                src="/build/img/logo/header-logo.svg"
                alt="Викиум Логотип"
                width="100"
                height="30")
        a.header__notif(
            href="/templates/pages/notifications/notifications.html" data-state="active")
            svg.header__notif-icon(
                width="17"
                height="20"
                fill="currentCollor")
                path(transform="translate(-1087.000000, -19.000000)" d="M1095.5,39 C1096.6,39 1097.5,38.1 1097.5,37 L1093.5,37 C1093.5,38.1 1094.4,39 1095.5,39 L1095.5,39 Z M1102,33 L1102,27.5 C1102,24.4 1099.9,21.9 1097,21.2 L1097,20.5 C1097,19.7 1096.3,19 1095.5,19 C1094.7,19 1094,19.7 1094,20.5 L1094,21.2 C1091.1,21.9 1089,24.4 1089,27.5 L1089,33 L1087,35 L1087,36 L1104,36 L1104,35 L1102,33 L1102,33 Z")
    div.header__mask
                    
            
